/* ==UserStyle==
@name           Element Base
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    YidaozhanYa's Element style
@author         YidaozhanYa
==/UserStyle== */

@-moz-document domain("develop.element.io") {
    * { /*缩小全局间距*/
        --gutterSize: 8px !important;
    }
    
    .mx_EventTile_line { /*不让右侧间距过大*/
        padding-right: 8px !important;
    }
    
    .mx_EventTile_line { /*缩小消息圆角*/
        --cornerRadius: 8px !important;
    }
    
    .mx_MStickerBody_wrapper { /*缩小贴纸大小*/
        width: 60%;
    }
    
    .mx_EventTile > .mx_DisambiguatedProfile { /*增大消息间间距*/
        margin-top: 8px !important;
    }
    
    .mx_DisambiguatedProfile_displayName { /*取消姓名加粗*/
        font-weight: normal !important;
    }
    
    .mx_EventTile_e2eIcon { /*隐藏网页版不能e2e的图标*/
        visibility: hidden;
        width: 0;
        padding: 0 !important
    }
    
    .mx_RoomView_wrapper { /*白色太瞎眼了*/
        background-color: #fcfcfc !important
    }
    
    div.mx_BackdropPanel > img { /*防止element取头像模糊当背景*/
        visibility: hidden;
    }
    
    div.mx_BackdropPanel { /*使用自定义的背景色*/
        background: var(--fake-mica) !important;
    }
    
    .mx_SpacePanel, .mx_LeftPanel_wrapper, .mx_LeftPanel_wrapper--user {
        background-color: unset !important;
    }
    
    .mx_RoomTile.mx_RoomTile_selected, .mx_RoomTile:hover, .mx_RoomTile:focus-within, .mx_RoomTile.mx_RoomTile_hasMenuOpen {
        border-radius: 4px;
    }
    
    .mx_RoomTile.mx_RoomTile_selected::before { /*小蓝条*/
        content: "";
        background-color: var(--fluent-theme-color);
        width: 3px;
        position: relative;
        right: 5px;
        height: 20px;
        top: 6px;
    }
    
    .mx_TopUnreadMessagesBar::after { /*删除未读消息按钮上的小绿点*/
        content: unset !important;
    }
    
    .mx_RoomView_myReadMarker { /*删除未读绿条*/
        visibility: hidden;
        border-top: unset;
        border-bottom: unset;
        height: 26px;
    }
    
    .mx_EventTile[data-layout="bubble"] .mx_MessageTimestamp { /*将时间标签移出气泡*/
        left: 5rem;
        position: relative;
        top: 4px;
    }
    
    .mx_LinkPreviewWidget { /*链接预览*/
        margin: 8px 0 8px auto;
    }
    
    .mx_RoomHeader_button:not(.mx_RoomHeader_closeButton):hover::before, .mx_RightPanel_headerButton_highlight::before, .mx_RightPanel_headerButton:hover::before { /*高亮*/
        background-color: var(--fluent-theme-color) !important;
    }
    
    .mx_RoomHeader_button:not(.mx_RoomHeader_closeButton):hover, .mx_RightPanel_headerButton:hover {
        background: rgba(0, 120, 212, 0.1) !important;
    }
    
    .mx_EventTile[data-layout="bubble"][data-self="true"] .mx_EventTile_sticker {
        margin-right: unset !important;
    }
    
    .mx_EventTile[data-layout="bubble"][data-self="true"] .mx_EventTile_line .mx_MImageBody {
        display: flex;
        justify-content: flex-end;
    }
}