/* 改自 https://shop.fdpclient.club/ii.css */

body {

}

div#app {
    background-color: #e8eff9;
}

.head[data-v-0239dd47] { /*左上角头像和搜索*/
    border-radius: 6px;
}

.el-input--prefix .el-input__inner { /*Search*/
    border-radius: 10px;
}

*{
    transition: all 0.5s;
    --chat-message-color-timestamp: #878787; /*发送时间*/
    --chat-bg-color-input: #fffffff0;
    --chat-footer-bg-color: #ffffffad;
    --chat-message-bg-color: rgba(255,255,255,0.7);
    --chat-message-bg-color-me: #def1fd;
    --chat-header-bg-color: rgba(255,255,255,0.8);
    font-family: 'HarmonyOS Sans SC', 'Noto Sans CJK SC', 'Noto Color Emoji';
    --panel-header-bg: rgba(255,255,255,0.7);
    --panel-item-bg-hover: #d5dce54a;
    --panel-item-bg: rgba(255,255,255,0.5);
    --chat-content-bg-color: rgba(255,255,255,0.4)!important;
    --panel-background: rgba(255,255,255,0.6)!important;
    --chat-message-bg-color-reply: rgb(0 0 0 / 3%);
    --chat-message-bg-color-deleted: #dadfe285;
}

.vac-message-card.vac-message-current {
    color: #000000; /*自己的消息*/

}

div.head[data-v-1d0d9516] { /*表情面板*/
    height: 35px;
    min-height: 35px;
    padding: 0 0px;
    background-color: var(--panel-header-bg);
}

.bg[data-v-1d0d9516] { /*表情面板*/
    backdrop-filter: blur(5px);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    margin-left: 0px;
    padding: 10px;
}

.el-message--success {
    background-color: #f0f9ebdb;
}

.el-message {
    min-width: auto;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}

.panel-right {
    background: rgba(0,0,0,0)!important;
    border: none!important;
}

.icalingua-theme-holder {
    background: rgba(0,0,0,0)!important;
    backdrop-filter: blur(10px);
}

.root {
    border-radius: 10px;
    margin: 5px;
}

.selected {
    box-shadow: 0 0 10px rgba(0,0,0,0.1)!important;
}



.entry {
    border: none!important;
}

/*.head {
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);

}*/

.content {
    padding-right: 10px;
}
.root {
    border: none!important;
}

.root[data-v-7bdba32c] {
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar-thumb { /*滚动条*/
    background-color: #99999952 !important;
}

.el-main.multipane.layout-v {
    margin: 0!important;
    overflow: hidden;
}

.vac-room-header.vac-app-border-b { /*对话名显示*/
    position: absolute;
    top: 0px;
    height: 69px;
    backdrop-filter: blur(10px);
    left: 0px;
    background-color: #ffffffd4;
}

.vac-container-scroll {
    margin-top: 0px;
    padding-bottom: 80px;
}

.vac-card-window {
    margin: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    min-height: auto;
}

.el-dialog {
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255,255,255,0.75);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.v-modal {
    display: none;
}

.vac-message-current *{
    --chat-message-color-timestamp: #ffffffe0!important;
}

.panel.rooms-panel {
    margin: 10px 0px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    overflow: hidden;
}

.vac-room-footer {
    position: absolute;
    backdrop-filter: blur(5px);
    bottom: 0px;
}

.vac-message-current * {
    --chat-message-color-timestamp: #878787!important;
}

.getting-history[data-v-cac5798a] {
    visibility: hidden;
}

.vac-icon-last-message {
    top: 75px;
    right: 5px;
    transform: scale(0.7);
}

.vac-icon-scroll {
    right: 5px;
    transform: scale(0.7);
    margin-bottom: -5px;
}

div.entry[data-v-7bdba32c]{
    padding: 9px 0;
}

.el-dialog__body {
    padding: 0 20px 20px 20px;
}

.groupmember-head-container {
    padding-bottom: 15px;
}

.vac-container-scroll {
    background: none;
    margin-right: 8px;
    margin-left: 8px;
}
